<br>
<div class="container">
  <h1><%= @restaurant.name %></h1>
  <br>
  <h3>Address: <%= @restaurant.address %></h3>
  <h3>Category: <%= @restaurant.category %></h3>
  <h3>Phone number: <%= @restaurant.phone_number %></h3>

  <br>

  <%= link_to "< Back to All Restaurants", restaurants_path, class: "btn btn-primary" %>

  <br>

  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Delete",
        review_path(review),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
    </li>
    <% end %>
  </ul>

  <br>

</div>
